:root{
    --color-seccion: #A7A7A7;
    --fuente: 'Inter', sans-serif
}
body {
    background-color: #C6C6C6;
}

.encabezado {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.encabezado img {
    width: 2vw;
    height: 100%;
    margin-left: 3vw;
}

.titulo {
    width: 60%;
    margin: 0 auto;
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.titulo a{
    text-decoration: none;
}

.titulo a:visited{
    color: black;
}

main {
    display: flex;
}

.seccion-entrada {
    background-color: var(--color-seccion);
    width: 66%;
    height: 85vh;
    margin: 0 2%;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
}

.seccion-salida {
    background-color: var(--color-seccion);
    width: 28%;
    height: 85vh;
    margin: 0 2% 0 0;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
}

.pie-pagina {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.area-texto {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

#entrada-texto {
    background-color: var(--color-seccion);
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: none;
    resize: none;
    outline: none;
    font-size: 24px;
    font-family: var(--fuente);
    font-style: normal;
    color: #0a3871;
}

::placeholder {
    color: #0a3871;
}

.advertencia {
    height: 5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-family: var(--fuente);
    font-style: normal;
    font-size: 12px;
    color: black;
}

.advertencia img {
    margin-left: 8vw;
    margin-right: 1vw;
}

.botones {
    width: 80%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.boton {
    width: 35%;
    height: 60%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 600;
}

.encriptar {
    background-color: #0a3871;
    color: white;
}

.desencriptar {
    background-color: #939fd1;
    color: #0a3871;
}

.boton:hover {
    transform: scale(1.02);
    transition: 400ms;
}

.salida-invalida{
    height: 100%;
    width: 100%;
}

#muneco {
    width: 90%;
    height: 70%;
    margin: 5% 5% 0 5%;
}

.mensaje {
    height: 10%;
    width: 90%;
    margin: 0 5% 5% 5%;
    text-align: center;
    font-family: var(--fuente);
    font-style: normal;
}

.uno {
    font-weight: 400;
    font-size: 24px;
}

.dos {
    font-weight: 400;
    font-size: 16px;
}

.salida-valida{
    width: 100%;
    height: 100%;
}

.mensaje-salida{
    background-color: var(--color-seccion);
    width: 80%;
    height: 70%;
    margin: 7.5% 10%;
    border: none;
    resize: none;
    outline: none;
    font-size: 22px;
    font-family: var(--fuente);
    font-style: normal;
    color: #0a3871;
}

.boton-copiar{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.botonCopiar{
    width: 60%;
    height: 60%;
    margin: 7.5% 20% 0 20%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 600;
    color: #0a3871;
}
.botonCopiar:hover {
    transform: scale(1.02);
    transition: 400ms;
}
.botonCopiar:active{
    background-color: #B2B8D1;
    transition: 10ms;
}
.contacto {
    margin-left: 35% ;
    font-family: var(--fuente);
    font-style: normal;
    font-size: 16px;
}

.redes-div{
    width: 10%;
    display: flex;
    margin-left: 1%;
}
.redes{
    height: 4vh;
    margin-left: 0.5vw;
    vertical-align: middle;
}

@media (max-width:820px){
    body{
        margin: 0;
        padding: 0;
    }
    .encabezado {
        width: 100%;
        height: 8vh;
    }
    
    .encabezado img {
        width: 3vw;
        height: 100%;
        margin-left: 3vw;
    }
    
    .titulo {
        width: 35%;
        margin: 0 auto;
        font-size: 1.1rem;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }
    
    .titulo a{
        text-decoration: none;
    }
    
    .titulo a:visited{
        color: black;
    }
    
    main {
        display: block;
    }
    
    
.seccion-entrada {
    width: 96%;
    height: 48vh;
    margin: 1vh 2%;
}

.seccion-salida {
    width: 96%;
    height: 35vh;
    margin: 0 2%;
}

.pie-pagina {

    width: 100%;
    height: 5vh;
}

.area-texto {

    width: 100%;
    height: 75%;
}

#entrada-texto {
    width: 90%;
    height: 90%;
    font-size: 1.2rem;
}

.advertencia {
    font-size: 70%;
}

.advertencia img {
    margin-left: 8vw;
    margin-right: 1vw;
}

.botones {
    width: 90%;
    height: 22%;
}

.boton {
    width: 40%;
}

.boton:hover {
    transform: scale(1.02);
    transition: 400ms;
}

.salida-invalida{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#muneco {
    display: none;
}

.mensaje {
    height: 38%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.uno {
    padding-top: 10%;
    font-weight: 600;
    font-size: 1.5rem;
}

.dos {
    padding-top: 1%;
    font-weight: 400;
    font-size: 1.3rem;
}

.salida-valida{
    width: 100%;
    height: 80%;
}

.mensaje-salida{
    width: 90%;
    height: 80%;
    margin: 2% 5%;
    font-size: 1.2rem;
}
.boton-copiar{
    width: 100%;
    height: 25%;
}

.botonCopiar{
    width: 45%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
    font-size: 20px;
}

.contacto {
    margin-left: 21% ;
    margin-top: 2%;
    font-size: 1rem;
}

.redes-div{
    width: 10%;
    display: flex;
    margin-left: 1%;
    margin-top: 2%;
}

}